{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prefer-stateless-function": 0
  },
  "ignore": [
    "vendors/*",
    "bundles/*",
    "builds/*"
  ]
}